<div class="main-container">
    <div class="header">
        <a routerLink=""><img class="logo-image" src="./assets/images/Home_img/Logo.png" alt="logo"/></a>
        <div class="brand-name">SKILLUP</div>
        <div class="search-bar">
            <input type="search" id="search-bar" placeholder="Search...">
        </div>
        <div class="icon-container">
            <a routerLink="/cart"><img class="icon" src="./assets/images/Home_img/Giỏ hàng.png" alt="cart"/></a>
            <a routerLink="/login"><img class="icon" src="./assets/images/Home_img/Account.png" alt="profile"/></a>
        </div>
    </div>
    <nav class="navigation">
        <div class="nav-item"><a routerLink="/catalog">Products</a></div>
        <div class="nav-item"><a routerLink="">Services</a></div>
        <div class="nav-item"><a routerLink="">Plans</a></div>
        <div class="nav-item"><a routerLink="">Tips</a></div>
        <div class="nav-item"><a routerLink="/track-order">Orders</a></div>
        <div class="nav-item"><a routerLink="/about-us">About us</a></div>
    </nav>
</div>
